body {
	font-family: Arial, sans-serif;
	/*font-size: для каждого элемента*/
	font-weight: 400;
	color: #7a7b7f;
	display: block;
	background-color: #282828;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ea355a;
}

.main {
	background-color: #dd2476;
	width: 800px;
	margin: 0 auto;
	margin-top: 0px;

}

.account-info {
	font-size: 13px;
	line-height: 1.54;
	margin: auto;
	margin-top: 61px;
	padding: auto;
	/*margin-top: 61px 170px 69px 170px;*/
	width: 460px;
	height: 470px;
	background-color: #ffffff;
	
	 
}

.form__first-name, 
.form__last-name {
	box-sizing: border-box;
	display: inline-block;
	width: 193px;
	height: 40px;
	padding-left: 14px;
	margin-bottom: 15px;
}

.form__last-name {
	margin-left: 11px;
}

.form__email,
.form__password {
	box-sizing: border-box;
	display: block;
	width: 400px;
	height: 40px;
	padding-left: 14px;
	margin-bottom: 15px;

}


input {
	padding: 0; 
	background-color: #f0f0f0;
	border: 1px solid transparent;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.43;
	
}

.form__btn {
	background-color: #ea355a;
	width: 400px;
	height: 50px;
	box-shadow: 0 3px #bd1962;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.11;
	color: #ffffff;
}

.account-info__head::before {
	content: url("../img/key-icon.png");
	width: 23px;
	height: 24px;
}

.form__text {
	/*font: 12px/1.67 Arial, sans-serif;*/
	font-size: 12px;
	line-height: 1.67;
}